.git
.gitignore
node_modules
**/node_modules
dist
**/dist
web-dist
**/web-dist
coverage
**/coverage
.vscode
.zed
.claude
.env
.env.*
**/.env
**/.env.*
packages/api/database/dumps
docs
Dockerfile*
README.md
README.ko.md
